/* test class*/
.a {
	background-color: red;
}

.b {
	background-color: green;
}

.c {
	background-color: aqua;
}

.d {
	background-color: blue;
}

.e {
	background-color: yellow;
}

.g {
	background-color: brown;
}

.w {
	height: 50 px;
}

.logo{
	width: 130px;
}